# If .bioserver.env doesn't provide OPENAI setup, customers need to set OPENAI API key in website
# OPENAI_API_KEY=

# Optional (Azure), 
# Besides OPENAI_API_KEY, the following envs should be set for Azure
# OPENAI_API_TYPE=
# OPENAI_DEPLOYMENT_NAME=
# OPENAI_MODEL=
# OPENAI_API_VERSION=
# AZURE_OPENAI_ENDPOINT=
# AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=
# AZURE_OPENAI_EMBEDDINGS_MODEL=

# data directory for sqlite3 db
DATA_DIR=/app/data

# daily token limit for server
TOKEN_DAILY_LIMITATION=1_000_000

