@import "../styles/animation.scss";
@import "../styles/window.scss";

.about-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  .about-page-body {
    padding: 20px;
    overflow-y: auto;

    .about-page-title {
      font-size: 14px;
      font-weight: bolder;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      max-width: 50vw;
    }
  }
}
